<h3>Movie List</h3>
<div class="movie-list" *ngIf="movies">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Movie Title</th>
        <th class="options">Available Actions</th>
      </tr>
    </thead>
    <tr *ngFor="let movie of movies">
      <td>{{ movie.title }}</td>
      <td class="options">
        <button class="btn badge-primary btn-sm" [routerLink]="[ movie._id ]">Read Reviews</button> |
        <button class="btn badge-dark btn-sm" [routerLink]="[movie._id, 'review']">New Review</button>
      </td>
    </tr>
  </table>
  <div class="test">
    <a [routerLink]="['new']" class="btn btn-dark">Add a new movie</a>
  </div>
</div>
<router-outlet></router-outlet>
