.movie-list {
  display: flex;
  flex-direction: column;
}


.options {
  text-align: center;
}


.movie-list a {
  width: 18%;
}

h3 {
  font-weight: 600;
}

.test {
  width: 65%;
}

.badge-primary {
  background-color: rgb(1, 91, 225);
}