
body {
  font-family: 'Roboto', sans-serif;
  background-image: url("./assets/mainWallpaper.png");
  /* Add the blur effect */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top-center;
  width: 900px;
  padding: 10px;
  margin: auto;
  height: auto;
}


.badge {
  color: black
}

.badge-success {
  color: #020202;
  background-color: #28a745;
}
