<!-- <h1>Squishy Tomatoes</h1> -->
<h3>Submit a Movie and your Review</h3>
<div *ngFor="let error of errors">
  <p class="red">{{error}}</p>
</div>
<form class="form-group" (submit)="create()">

  Movie Title:
  <input class="form-control" name="movie.title" [(ngModel)]="movie.title" minlength="3" required #title="ngModel" />
  <p *ngIf="!title.valid && title.dirty" class="red">Title must be 3 characters</p>

  Your name:
  <input class="form-control" name="newReview.reviewer_name" [(ngModel)]="newReview.reviewer_name" minlength="3"
    required #reviewer="ngModel" />

  <p *ngIf="!reviewer.valid && reviewer.dirty" class="red">A name is required. Minimun of 3 characters</p>

  (Rating) Stars:
  <input type="number" min="0" max="5" step="" required class="form-control" name="newReview.rating" [(ngModel)]="newReview.rating" />

  Review:
  <textarea rows="2" cols="50" class="form-control" name="newReview.review" [(ngModel)]="newReview.review" minlength="3" required #review="ngModel"> </textarea>
  <p *ngIf="!review.valid && review.dirty" class="red">A Review is required. Minimun of 10 characters</p>

  <input class="btn btn-dark btn-sm" type="submit" value="Submit" />
</form>
