.red {
  color: rgb(165, 15, 15);
}

h3{
  font-weight: 600;
}

input:invalid+span:after {
  content: '✖';
  padding-left: 5px;
}

input:valid+span:after {
  content: '✓';
  padding-left: 5px;
}
.form-group{
  width: 75%;
}
.form-control{
  margin: 1%;
}
